
html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-family:'Roboto', sans-serif;
}


.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}

.counter-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
}

h1 {
  font-size: 3rem;
  margin-bottom: -40px;
}

h2 {
  font-size: 5rem;
}

button {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  border: 2px solid black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover {
  background-color: black;
  color: aliceblue;
}

.decrease:hover {
  background-color: red;
}

.increase:hover {
  background-color: green;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
